:host {
    ::ng-deep {
        .form-container {
            display: flex;
            flex-direction: column;
            .form {
                display: flex;
                flex-direction: column;
            }
        }
        .button-container {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
        }
        
        .custom-button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .custom-button:hover {
            background-color: #0056b3;
        }
        
        .custom-button:active {
            background-color: #003d80;
        }
        
        .custom-button:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
        }
    }
}

