<div class="container camera-container">
    <!-- Màn hình chụp ảnh -->
    <div>
        <div class="camera-container-wrapper">
            <div class="video-wrapper">
                <h3>Ảnh mẫu</h3>
                <video #frontVideo autoplay></video>
                <canvas #frontCanvas></canvas>
                <button (click)="captureImage('front')">Chụp Ảnh</button>
            </div>
            <div class="video-wrapper">
                <h3>Ảnh kiểm tra</h3>
                <video #backVideo autoplay></video>
                <canvas #backCanvas></canvas>
                <button (click)="captureImage('back')">Chụp Ảnh</button>
            </div>
        </div>

        <!-- Nút xác nhận -->
        <button (click)="confirm()">Xác Nhận</button>
    </div>
</div>