<div class="container upload-container">
    <h2>Upload Your Photos</h2>
    <input type="file" (change)="uploadFile($event)" accept="image/*" />

    <ngx-file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" accept="image/*">
        <div ngx-file-drop-content>
            <p>Kéo và thả ảnh vào đây</p>
        </div>
    </ngx-file-drop>

    <div class="uploaded-images">
        <div *ngFor="let img of uploadedFiles">
            <img [src]="img" alt="Uploaded Image" />
        </div>
    </div>
</div>